<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-6 offset-3">
            <h3 class="mt-3">Listing Details: </h3>
     
            <div class="card">
                <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing_image" >
                <div class="card-body">
                    <p class="card-text">
                        <br><b><%=listing.title%></b><br>
                        <%=listing.description%> <br>
                        <%=listing.price.toLocaleString("en-IN")%>/night <br>
                        <%=listing.location%> <br>
                        <%=listing.country%>
                    </p>
                </div>
            </div>
            <div class="btns">
                <a class=" btn btn-dark" href="/listings/<%=listing._id%>/edit">Edit</a>
                <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
                    <button class="offset-3 btn btn-dark add-btn">Delete</button>
                </form>
            </div>
            
        </div>
    </div>
</body>